MONGO_URI=mongodb://localhost:27017/ukulele
SESSION_SECRET=change-me-for-production
API_PORT=5000
FRONTEND_URL=http://localhost:5173

SEED_USER_EMAIL=noreply@myukulele.website
SEED_USER_PASSWORD=superSecretPassword
SEED_USER_SCREENNAME=SeedUser