@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --orange-300: oklch(83.7% 0.128 66.29);
    --orange-400: oklch(75% 0.183 55.934);
    --taupe-300: oklch(86.8% 0.007 39.5);
    --taupe-600: oklch(43.8% 0.017 39.3);
    --taupe-800: oklch(26.8% 0.011 36.5);
    --taupe-900: oklch(21.4% 0.009 43.1);
}

html {
    background-color: var(--taupe-300);
    color: var(--taupe-800);
}

html.dark {
    background-color: var(--taupe-800);
    color: var(--taupe-300);
}


a {
    color: var(--orange-300);
}
a:hover {
    text-decoration: underline;
    color: var(--orange-400);
}

h1 {
   font-size: 2rem;
   font-weight: bold;
   margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

input,
select,
textarea {
    padding: 0.25rem 0.5rem;
    background-color: var(--taupe-900);
    border: 1px solid var(--taupe-600);
    border-radius: 0.5rem;
}

textarea {
    resize: auto;
}



@layer components {
    .form-control {
        margin: 0.5rem 0;
    }

    .form-control label {
        display: block;
    }

    .chord-diagram {
        background-color: var(--amber-950);
        border: 1px solid var(--amber-900);
        border-radius: 0.5rem;
        padding: 0.25rem;
    }

    .chord-name {
        fill: var(--amber-100);
        font-size: 0.825rem;
        font-weight: bold;
    }

    .chord-marker {
        fill: var(--yellow-400);
        font-size: 0.75rem;
        font-weight: bold;
    }

    .chord-open-marker {
        fill: transparent;
        stroke: var(--yellow-400);
    }

    .chord-string {
        stroke: white;
    }

    .chord-nut {
        stroke: var(--amber-100);
    }

    .chord-fret {
        stroke: var(--gray-400);
    }

    .chord-dot {
        fill: var(--yellow-400);
    }

    .song .part {
        margin-bottom: 2rem;
        break-inside: avoid;
    }

    .song .comment {
        color: #999;
    }

    .song .line {
        position: relative;
        white-space: pre-wrap; /* important to keep chords spaced out */
    }

    .song .chord {
        position: relative;
        bottom: 1rem;
        display: inline-block;
        width: 0;
        margin-top: 1rem;
        color: #06f;
        cursor: default;
    }

    .song .tabs {
        font-family: monospace;
        line-height: 1;
        margin-bottom: 1rem;
        break-inside: avoid;
    }
}

@layer utilities {
    .flex.flex-expand > * {
        flex-grow: 1;
    }
}





@config "../tailwind.config.js"
